
<div class = "left wow fadeInDown"  >
<legend><h1><font color="000000"> Nova Conta </font></legend></h1></div>


  <%=form_for User.new do |f| %>
  <div class="field">
  <%=f.label :email %>
  <%=f.text_field :email %>
  </div>

  <div class="field">
  <%=f.label :password %>
  <%=f.password_field :password %>
  </div>

    <div class="field">
  <%=f.label :password_confirmation %>
  <%=f.password_field :password_confirmation %>
</div>

    <div class="field">
  <%=f.submit "Cadastrar" %>
  </div>
<%end%>
