<p id="notice"><%= notice %></p>

   <meta charset="utf-8" />
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
   <script src="jquery.tablesorter.min.js"></script>
   <script src="jquery.tablesorter.pager.js"></script>
   <link rel="stylesheet" href="custom.css" media="screen" />
 </head>
<h1><font color="000000">Cadastrar Captação</font></h1>

<table cellspacing="0" >
  <thead>
    <tr>
      <th><input type="checkbox" value="1" id="marcar-todos" name="marcar-todos" /></th>
      <th>Instuicao</th>
      <th>Titulo</th>
      <th>Objetivo</th>
      <th>Meta</th>
      <th>Ações</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doacao_captacaos.each do |doacao_captacao| %>
      <tr>
        <td><%= doacao_captacao.instuicao_id %></td>
        <td><%= doacao_captacao.titulo %></td>
        <td><%= doacao_captacao.objetivo %></td>
        <td><%= doacao_captacao.meta %></td>
        <td><%= link_to (image_tag (asset_path ('show.png'))), doacao_captacao %></td>
        <td><%= link_to (image_tag (asset_path ('edit.png'))), edit_doacao_captacao_path(doacao_captacao) %></td>
        <td><%= link_to (image_tag (asset_path ('delete.png'))), doacao_captacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

  <script>
  $(function(){

    $('table > tbody > tr:odd').addClass('odd');

    $('table > tbody > tr').hover(function(){
      $(this).toggleClass('hover');
    });

    $('#marcar-todos').click(function(){
      $('table > tbody > tr > td > :checkbox')
        .attr('checked', $(this).is(':checked'))
        .trigger('change');
    });

    $('table > tbody > tr > td > :checkbox').bind('click change', function(){
      var tr = $(this).parent().parent();
      if($(this).is(':checked')) $(tr).addClass('selected');
      else $(tr).removeClass('selected');
    });

    $('form').submit(function(e){ e.preventDefault(); });

    $('#pesquisar').keydown(function(){
      var encontrou = false;
      var termo = $(this).val().toLowerCase();
      $('table > tbody > tr').each(function(){
        $(this).find('td').each(function(){
          if($(this).text().toLowerCase().indexOf(termo) > -1) encontrou = true;
        });
        if(!encontrou) $(this).hide();
        else $(this).show();
        encontrou = false;
      });
    });

    $("table")
      .tablesorter({
        dateFormat: 'uk',
        headers: {
          0: {
            sorter: false
          },
          5: {
            sorter: false
          }
        }
      })
      .tablesorterPager({container: $("#pager")})
      .bind('sortEnd', function(){
        $('table > tbody > tr').removeClass('odd');
        $('table > tbody > tr:odd').addClass('odd');
      });

  });
  </script>

<br>

<%= link_to 'New Doacao captacao', new_doacao_captacao_path %>
