<p id="notice"><%= notice %></p>

<div class = "left wow fadeInDown"  >
<legend><h1><font color="000000">  Captação </font></h1></legend></div>
<p>
  <strong>Instuicao:</strong>
  <%= @doacao_captacao.instuicao_id %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @doacao_captacao.titulo %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @doacao_captacao.objetivo %>
</p>

<p>
  <strong>Meta:</strong>
  <%= @doacao_captacao.meta %>
</p>

<%= link_to (image_tag (asset_path ('editar.png'))), edit_doacao_captacao_path(@doacao_captacao) %>
<%= link_to (image_tag (asset_path ('voltar.png'))), doacao_captacaos_path %>
