<p id="notice"><%= notice %></p>

<h2><font color=#00000>Ideia Cadastrada</font></h2>
<p>
  <strong>Instuicao:</strong>
  <%= @doacao_ideium.instuicao_id %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @doacao_ideium.descricao %>
</p>

<p>
  <strong>Finalidade:</strong>
  <%= @doacao_ideium.finalidade %>
</p>

<%= link_to (image_tag (asset_path ('voltar.png'))), doacao_ideia_path %>
