<p id="notice"><%= notice %></p>

<div class = "left wow fadeInDown">
<legend><h2><font color="000000"> Ideia Cadastrada</font></legend></h2></div>
<p>
  <strong>Instuicao:</strong>
  <%= @doacao_ideium.instuicao_id %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @doacao_ideium.descricao %>
</p>

<p>
  <strong>Finalidade:</strong>
  <%= @doacao_ideium.finalidade %>
</p>

<%= link_to (image_tag (asset_path ('voltar.png'))), doacao_ideia_path %>
