<p id="notice"><%= notice %></p>

<p>
  <strong>Instuicao:</strong>
  <%= @doacao_ideium.instuicao_id %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @doacao_ideium.descricao %>
</p>

<p>
  <strong>Finalidade:</strong>
  <%= @doacao_ideium.finalidade %>
</p>

<%= link_to 'Edit', edit_doacao_ideium_path(@doacao_ideium) %> |
<%= link_to 'Back', doacao_ideia_path %>
