<p id="notice"><%= notice %></p>

   <meta charset="utf-8" />
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
   <script src="jquery.tablesorter.min.js"></script>
   <script src="jquery.tablesorter.pager.js"></script>
   <link rel="stylesheet" href="custom.css" media="screen" />

<h1><font color=#000000> Instituições Financeiras </font></h1>
<br>

<%= link_to  (image_tag (asset_path ('nfinanceira.png'))), new_doacao_financeira_path %>
<p>
<p>
<table cellspacing="1">
  <thead>
    <tr>
      <th>Instuição</th>
      <th>Nome</th>
      <th>Banco</th>
      <th>Titular</th>
      <th>Agencia</th>
      <th>Conta</th>
      <th>Cnpj</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doacao_financeiras.each do |doacao_financeira| %>
      <tr>
        <td><%= doacao_financeira.instuicao_id %></td>
        <td><%= doacao_financeira.nome %></td>
        <td><%= doacao_financeira.banco %></td>
        <td><%= doacao_financeira.titular %></td>
        <td><%= doacao_financeira.agencia %></td>
        <td><%= doacao_financeira.conta %></td>
        <td><%= doacao_financeira.cnpj %></td>
        <td><%= link_to (image_tag (asset_path ('show.png'))), doacao_financeira %></td>
        <td><%= link_to  (image_tag (asset_path ('edit.png'))), edit_doacao_financeira_path(doacao_financeira) %></td>
        <td><%= link_to  (image_tag (asset_path ('delete.png'))), doacao_financeira, method: :delete, data: { confirm: 'Apagar conta bancária?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
$(function(){

  $('table > tbody > tr:odd').addClass('odd');

  $('table > tbody > tr').hover(function(){
    $(this).toggleClass('hover');
  });

  $('#marcar-todos').click(function(){
    $('table > tbody > tr > td > :checkbox')
      .attr('checked', $(this).is(':checked'))
      .trigger('change');
  });

  $('table > tbody > tr > td > :checkbox').bind('click change', function(){
    var tr = $(this).parent().parent();
    if($(this).is(':checked')) $(tr).addClass('selected');
    else $(tr).removeClass('selected');
  });

  $('form').submit(function(e){ e.preventDefault(); });

  $('#pesquisar').keydown(function(){
    var encontrou = false;
    var termo = $(this).val().toLowerCase();
    $('table > tbody > tr').each(function(){
      $(this).find('td').each(function(){
        if($(this).text().toLowerCase().indexOf(termo) > -1) encontrou = true;
      });
      if(!encontrou) $(this).hide();
      else $(this).show();
      encontrou = false;
    });
  });

  $("table")
    .tablesorter({
      dateFormat: 'uk',
      headers: {
        0: {
          sorter: false
        },
        5: {
          sorter: false
        }
      }
    })
    .tablesorterPager({container: $("#pager")})
    .bind('sortEnd', function(){
      $('table > tbody > tr').removeClass('odd');
      $('table > tbody > tr:odd').addClass('odd');
    });

});
</script>

<br>
