<p id="notice"><%= notice %></p>


 <h2><font color=#00000>Dados bancários da instuição cadastrados </font></h2>
<p>
  <strong>Instuicao:</strong>
  <%= @doacao_financeira.instuicao_id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @doacao_financeira.nome %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @doacao_financeira.banco %>
</p>

<p>
  <strong>Titular:</strong>
  <%= @doacao_financeira.titular %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @doacao_financeira.agencia %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @doacao_financeira.conta %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @doacao_financeira.cnpj %>
</p>

<%= link_to (image_tag (asset_path ('editar.png'))), edit_doacao_financeira_path(@doacao_financeira) %>
<%= link_to (image_tag (asset_path ('voltar.png'))), doacao_financeiras_path %>
