<p id="notice"><%= notice %></p>

<div class = "left wow fadeInDown"  >
<legend><h1><font color="000000"> Instituição Castrada </font></legend></h1></div>
<p>
  <strong>Nome:</strong>
  <%= @instituicao.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instituicao.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @instituicao.senha %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @instituicao.cnpj %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @instituicao.endereco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @instituicao.telefone %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @instituicao.descricao %>
</p>

<%= link_to (image_tag (asset_path ('editar.png'))), edit_instituicao_path(@instituicao) %>
<%= link_to (image_tag (asset_path ('voltar.png'))), instituicaos_path %>
