<p id="notice"><%= notice %></p>

<div class = "left wow fadeInDown"  >
<legend><h1><font color="000000"> Voluntário Castrado </font></legend></h1></div>
<p>
  <strong>Instuicao:</strong>
  <%= @doacao_voluntario.instuicao_id %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @doacao_voluntario.funcao %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @doacao_voluntario.descricao %>
</p>

<p>
  <strong>Domingo:</strong>
  <%= @doacao_voluntario.domingo %>
</p>

<p>
  <strong>Segunda:</strong>
  <%= @doacao_voluntario.segunda %>
</p>

<p>
  <strong>Terca:</strong>
  <%= @doacao_voluntario.terca %>
</p>

<p>
  <strong>Quarta:</strong>
  <%= @doacao_voluntario.quarta %>
</p>

<p>
  <strong>Quinta:</strong>
  <%= @doacao_voluntario.quinta %>
</p>

<p>
  <strong>Sexta:</strong>
  <%= @doacao_voluntario.sexta %>
</p>

<p>
  <strong>Sabado:</strong>
  <%= @doacao_voluntario.sabado %>
</p>

<p>
  <strong>Horario inicial:</strong>
  <%= @doacao_voluntario.horario_inicial %>
</p>

<p>
  <strong>Horario final:</strong>
  <%= @doacao_voluntario.horario_final %>
</p>

<%= link_to (image_tag (asset_path ('editar.png'))), edit_doacao_voluntario_path(@doacao_voluntario) %> 
<%= link_to (image_tag (asset_path ('voltar.png'))), doacao_voluntarios_path %>
